<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="authentication.css">
    <title>Login</title>
</head>
<body>

<div style="text-align: center; margin-top: 50px;">
    <h2>Login</h2>
    <form action="#" th:action="@{/authentication}" th:object="${client}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <div th:if="${isError}" class="error-message">Authentication failed</div>
</div>

</body>
</html>
